{% extends 'base.html.twig' %}




{% block content %}
<h1> Вашата регистрация е потвърдена</h1>

<p><i>Вашият потребителски профил е активиран.</i></p>
<p>Влезте с Вашия e-mail и парола, за да заявите кандидатстудентските изпити, на които ще се явявате.</p>

<a  class = "btn btn-primary" href="{{ url('login') }}">Към вход в системата</a>
{% endblock %}