{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}


<h1>Вход в системата</h1>
{% if error %}
	
    <div class="offsetlogin error">
	{{ error.message | replace({"Invalid credentials." : "Невалидно потребителско име или парола."}) }}
	{{ error.message | replace({"Bad credentials." : "Сгрешено потребителско име или парола."}) }}
	</div>
{% endif %}
<form action="{{ path('login') }}" method="post" class="form-horizontal">
<div class="form-group">
            
		 
    <label class="col-sm-2 control-label" for="username">E-mail адрес</label>
	<div class="col-sm-4">
    <input type="text" id="username" name="_username" value="{{ last_username }}"  class="form-control"/>
	</div>
	</div>
	
		
	<div class="form-group"> 
        
		 
    <label class="col-sm-2 control-label" for="password">Парола</label>
	<div class="col-sm-4">
    <input type="password" id="password" name="_password"  class="form-control"/>
	</div>
	</div>
 
	<div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">

    <button class= "btn btn-primary" type="submit">Вход</button>
	</div>
	</div>
	</form>

	{% endblock %}